.container {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	background-color: #606060;
}

.title_bar {
	height: 22px;
	width: 100%;
	padding: 8px 0px 8px 0px;
	color: rgb(24,34,44);
	background-color: rgb(111,111,111);
	border-radius: 10px 10px 10px 10px;
	font-family: monospace;
	font-size: 14px;
}
.title_bar p {
	padding: 3px 0px 0px 80px;
}
.E0 {
	height: 100%;
	background-color: #606060;
	color: white;
	display: flex;
	flex-direction: row;	
	padding: 8px;
	font-family: monospace;
}

.E1 {
	width: 95%;
	height: 100%;
	padding: 8px 3px 0px 10px;
	margin: 0px 0px 0px 7px;
	display: inline-table;
}

.N0 {
	width: 46px;
	height: 100%;
	padding: 8px 0px 0px 0px;
	text-align: center;
	display: inline-table;	
	background-color: #555555a3;	
	box-shadow: 3px 0px 10px #504f4f;
}

.cursor_line {
	background-color: #616a70;	
}

p {
	height: 1.2rem;
	padding: 3px 8px 3px 8px;
	margin: 0px 0px 0px 0px;	
	border-radius: 5px
}
.empty_line {
}

.inputarea {
	min-width: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	outline: none!important;
	resize: none;
	border: none;
	overflow: hidden;
	color: transparent;
	background-color: transparent;
 }

 .E1_cursor_area{
	position: absolute;
	top: 46px;
	left: 60.40625px;
	width: 997.59375px;
	height: 159px;
	z-index: initial;
 }
 .cursor_blinking {
	position: fixed;
	width: 5px;
	height: 19px; 
	top: 81.40px;
	left: 243px;
	background-color: rgb(211, 211, 211);
 }