* {
	font-family: monospace;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;

}
.container {
	display: flex;
	flex-direction: column;
}

.netvim-main-window-container {
	position: relative;
	/* background-color: #b1b1b1; */
	background-color: #606060;
}
.netvim-main-window {
	display: flex;
	position: absolute;	
	color: aliceblue;
	background-color: transparent;
	top: 40px;
	height: calc(100vh - 40px);
}
.netvim-number-window {
	margin: 0px 0px 0px 5px;
	height: fit-content;
	width: 45px;
	text-align: center;
	background-color: #555555a3;	
	box-shadow: 3px 0px 10px #504f4f;
}
.netvim-editor-window {
	margin: 0px 0px 0px 10px;
}
.netvim-view-line {

}