* {
	font-family: 'RobotoMono';
	font-weight: normal;
	font-size: 12px;
	font-feature-settings: "liga" 0, "calt" 0;
	line-height: 18px;
	letter-spacing: 0px;

	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;

}
.container {
	display: flex;
	flex-direction: column;
}

.netvim-main-window-container {
	position: relative;
	/* background-color: #b1b1b1; */
	background-color: #606060;
}
.netvim-main-window {
	display: flex;
	position: absolute;	
	color: aliceblue;
	background-color: transparent;
	top: 40px;
	height: calc(100vh - 40px);
}
.netvim-number-window {
	margin: 0px 0px 0px 5px;
	height: fit-content;
	width: 45px;
	text-align: center;
	background-color: #555555a3;	
	box-shadow: 3px 0px 10px #504f4f;
}
.netvim-editor-window {
	margin: 0px 0px 0px 10px;
}
.netvim-view-line {
	position: absolute;
	width: auto;
	cursor: text;
}
.netvim-view-number-line {
	position: relative;
	width: 45px;
}
/* i  m . p . o . r . t .     d . e */
/* 0, 7, 14, 22, 29, 36, 43, 51, 58 	 */
.netvim-cursor {
	writing-mode: horizontal-tb;
	text-shadow: none;
	column-count: initial;
	text-transform: none;
	text-decoration: none;
	width: 7px;
	height: 18px;
	background-color: rgba(216, 216, 216, 0.5);
	cursor: text;
	resize: none;
	min-width: 0;
	min-height: 0;
	position: relative;
	outline: none;
	border: none;
	overflow: hidden;
}
@font-face {
	font-family: 'RobotoMono';
	src: url('../font/RobotoMono-VariableFont_wght.ttf');
}